page-periodocalendario {

}


.fc-content:after  {
	color:#fff;
}

.fc-day-grid-event{
	//position: absolute;
	margin-top:-30px;
	height: 28px;
}

 
.fc-basic-view .fc-body .fc-row {
    min-height: 2em;
 
}